@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    box-sizing: border-box;
}

body {
    line-height: 1.5;
}


/*Scroll bar*/

/* width */
.customScrollbar::-webkit-scrollbar {
    width: 6px;
}
 
/* Track */
.customScrollbar::-webkit-scrollbar-track {
    background: rgb(241 245 249);
    border-radius: 5px;
    margin-top: 50px;
    margin-bottom:50px;
}
 
/* Handle */
.customScrollbar::-webkit-scrollbar-thumb {
    background:  rgb(203 213 225);
    border-radius: 5px;
}
 
/*Slider styles*/
input[type="range"] {
    accent-color:"#46B891";
}